ACTION!="add", GOTO="power_bt_rules_end"
SUBSYSTEM!="usb", GOTO="power_bt_rules_end"

ATTRS{idVendor}=="8087", ATTRS{idProduct}=="0a2b", GOTO="enable_autosuspend"
GOTO="power_bt_rules_end"

LABEL="enable_autosuspend"
TEST=="power/control", ATTR{power/control}="auto"

# Done.
LABEL="power_bt_rules_end"
