# This file enables autosuspend for USB devices by default. Devices
# that do not work properly in that mode can be blacklisted by adding
# their <vendor>:<product> pair (as printed by lsusb) to
# /lib/udev/usb-autosuspend-blacklist (read-only, maintained as part
# of the OS) or the same file in /etc/udev (read/write, maintained by
# users).

# Check whether device is blacklisted.
ACTION=="add", SUBSYSTEMS=="usb", PROGRAM="/bin/sh -c 'grep -q ^$attr{idVendor}:$attr{idProduct} /lib/udev/usb-autosuspend-blacklist || ( [ -e /etc/udev/usb-autosuspend-blacklist ] && grep -q $attr{idVendor}:$attr{idProduct} /etc/udev/usb-autosuspend-blacklist)'", GOTO="power_usb_rules_end"

# Enable autosuspend.
ACTION=="add", SUBSYSTEMS=="usb", TEST=="power/control", ATTR{power/control}="auto"

# Done.
LABEL="power_usb_rules_end"
