[Unit]
Description=USB gadget service (networking etc.)

[Service]
Type=oneshot
ExecStart=/usr/bin/usb-gadget.sh start
ExecStop=/usr/bin/usb-gadget.sh stop
RemainAfterExit=yes

[Install]
WantedBy=network.target
